<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	<b>TODO: </b> add more project information	
</p>
<p>
	This project was made to provide a way for people to record their memories.
	It was made using <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
</p>
